# mail and key that will be used to send the server link to all the users
EMAIL_USER="mail@gmail.com"
EMAIL_PASS="key"

BACKEND_PORT=3000
MEDIA_DIR='playlists'
USERS_FILE='users.json'
DOWNLOAD_STATUS_FILE='downloads_status.json'

